{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["prettier"],
  "rules": {
    "arrow-parens": 0,
    "no-confusing-arrow": 0,
    "no-mixed-operators": 0,
    "no-underscore-dangle": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/label-has-for": 1,
    "react/no-array-index-key": 1,
    "react/jsx-filename-extension": 0,
    "function-paren-newline": ["error", "consistent"],
    "jsx-a11y/anchor-is-valid": 0,
    "import/prefer-default-export": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 100,
        "trailingComma": "es5"
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "consistent": true
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ]
  },
  "globals": {
    "__DEV__": true
  }
}
